<div class="row">
  <div class="col-xs-4">
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="itemNo">Item No.</label>
            <input type="number" class="form-control" id="itemNo"
                  placeholder="Must be greater than 0"
                  formControlName="itemNo" #itemNo (change)="onChangeItemNo(itemNo.value)">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount"
                  placeholder="Must be positive or zero" formControlName="amount">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="inventoryCode">Inventory Code</label>
              <input type="number" class="form-control" id="inventoryCode"
                    placeholder="Must be positive or zero" formControlName="inventoryCode">
            </div>
          </div>
        </div>
        <div *ngIf="itemExist" class="row">
          <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
              <span>The item is already exist.</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success"
                  [disabled]="!itemForm.valid || itemExist">Save</button>
            &nbsp; &nbsp; &nbsp;
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
    </form>
  </div>
</div>